#login-container{
    color: darkgreen
}

#login-container h2,
#login-container Button,
#login-container Form{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
}

#login-container .Form-Label{
    float:left;
}
